html body {
  background-color: rgb(255, 198, 92);
  color: #000000;
}

h1 {
  text-align: center;
  color: rgb(58, 139, 58);
}

li {
  padding: 15px;
  margin: 5px;
  background-color: #ffffff;
}

.devour {
 margin: 0vh 3vw 0vh 3vw;
 padding: 0vh 1vw 0vh 1vw;
}

.create-form {
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.form-group {
  margin-bottom: 5px;
}
