html body {
  background-color: rgb(255, 198, 92);
  color: #000000;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1, h2 {
  text-align: center;
  color: rgb(58, 139, 58);
}

li {
  padding: 15px;
  margin: 5px;
  background-color: rgb(255, 198, 92);
  font-size: 2em;
  text-align: center;
}

.devour {
 margin: 0vh 3vw 0vh 3vw;
 padding: 0vh 1vw 0vh 1vw;
}

.create-form {
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.form-group {
  margin-bottom: 5px;
}

.form-control {
  text-align: center;
}
